{% extends "base.html"%}
{% block content %}
	<div class="modal fade" id="modal-add-bag">
		<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header"><h4>Add a Bag!</h4></div>
			<div class="modal-body">
				<h5>Name of the bag:</h5>
				<form action="{{url_for('api_AddBags.api_AddBags_route')}}" method="post" id="addNewBag">
					<input type="text" name="bagName">
				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" form="addNewBag" class="btn btn-primary">Add</button>
				<button class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>

	<!-- FIRST PAGE -->
	<div class="bg"></div>

	<div class="container-fluid">
		<div class="row">
			<nav class="nav-all nav-mid">
				<button class="btn-add align-left" data-toggle="modal" data-target="#modal-add-bag"><span class="glyphicon glyphicon-plus"></span></button>
				<a href="#"><span class="icon-md icon-refine"></span></a>
				<a href="#"><span class="icon-md icon-sort"></span></a>
			</nav>
		</div>
	</div>

	<div class="container">
		<a href="{{url_for('insideBags.insideBags_route')}}">
			<div class="col-xs-6">
				<div class="bag bag-green">
					<h5 class="bag-title">TITLE</h5>
					<div class="bag-info">
						<p class="bag-numItems"><span>#</span> items</p>
						<p class="bag-numSelected"><span>#</span> selected</p>
					</div>
				</div>
			</div>
		</a>
	</div>
{% endblock %}