{% extends "base_navBar.html" %}
{% block content %}
	<!-- Modal for adding new item -->
	<div class="modal fade" id="modal-add-item">
		<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header">
				<h4>Add an item!</h4>
			</div>
			<div class="modal-body">
				<h5>Paste the URL of the item to be added:</h5>
				<input type="text" name="modal-input-url" id="modal-input-url">
				<div class="modal-body-nested">
					<h5>Is this the item you were looking at?</h5>
					<img src="" alt="">
					<dl class="dl-horizontal">
						<dt>From</dt>
						<dd></dd>
						<dt>Item</dt>
						<dd></dd>
						<dt>Price</dt>
						<dd></dd>
					</dl>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-black" id="modal-btn-add">Parse</button>
				<button class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>

	<ul class="baguni-tab">
		<li class="active"><a href="#">One</a></li><!-- 
		 --><li class="inactive"><a href="#">Two</a></li><!-- 
		 --><li class="inactive"><a href="#">Three</a></li><!-- 
		 --><li class="inactive"><a href="#">Four</a></li><!-- 
		 --><li class="inactive"><a href="#">Five</a></li>
	</ul>

	<div class="container-fluid">
		<div class="row">
			<nav class="nav-all nav-mid">
				<div class="price-bar align-left">$ <span></span></div>
				<a href="#"><span class="icon-md icon-refine"></span></a>
				<a href="#"><span class="icon-md icon-sort"></span></a>
			</nav>
		</div>
	</div>
	
	<div class="container container-items">
		<ul class="items">
			{% for item in items %}
				<li class="col-xs-6 item" id="product_id">
					<div class="row">
					<input type="checkbox" name="item" class="item-checkbox" {{ item['selected'] }}></div>
					<!-- <ul class="item-detail">
						<li class="item-qty">Qty: <span></span></li>
						<li class="item-size">Size: <span></span></li>
					</ul> -->
					<div class="row">
						<a href="{{ item['origurl'] }}"><img src="{{ item['imageurl'] }}" alt="" class="item-image"></a>
					</div>
					<div class="row">
						<h5 class="item-brand">쇼핑몰:&nbsp;</h5><p>{{ item['brand'] }}</p>
						<h5 class="item-name">상품명:&nbsp;</h5><p>{{ item['name'] }}</p>
					</div>
					<div class="row">
						<h5 class="item-price">가격(원): &nbsp;</h5><p id="item-price">{{ item['price'] }}</p>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

	<button class="btn-add-black" data-toggle="modal" data-target="#modal-add-item"><span class="glyphicon glyphicon-plus"></span></button>
	
	<script src="{{url_for('static', filename='js/bagunis.js')}}"></script>
{% endblock %}