{% extends "base_navBar.html" %}
{% block content %}
	<div class="modal fade" id="modal-add-item">
		<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-header"><h4>Add an item!</h4></div>
			<div class="modal-body">
				<h5>Paste the URL of the item to be added:</h5>
				<input type="text" name="input-item-url" id="input-item-url">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-black" id="btn-add-item" data-dismiss="modal">Add</button>
				<button class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
		</div>
	</div>

	<ul class="baguni-inside">
		<li class="active"><a href="#">One</a></li><!-- 
		 --><li class="inactive"><a href="#">Two</a></li><!-- 
		 --><li class="inactive"><a href="#">Three</a></li><!-- 
		 --><li class="inactive"><a href="#">Four</a></li><!-- 
		 --><li class="inactive"><a href="#">Five</a></li>
	</ul>

	<div class="container-fluid">
		<div class="row">
			<nav class="nav-all nav-mid">
				<div class="price-bar align-left">$ <span></span></div>
				<a href="#"><span class="icon-md icon-refine"></span></a>
				<a href="#"><span class="icon-md icon-sort"></span></a>
			</nav>
		</div>
	</div>
	
	<!-- SECOND PAGE -->
	<div class="container">
		<ul class="items">
			{% for item in items %}
				<li class="col-xs-6 item" id="product_id">
					<div class="row">
					<input type="checkbox" name="item" class="item-checkbox" {{ item['selected'] }}></div>
					<!-- <ul class="item-detail">
						<li class="item-qty">Qty: <span></span></li>
						<li class="item-size">Size: <span></span></li>
					</ul> -->
					<div class="row">
						<a href="{{ item['origurl'] }}"><img src="{{ item['imageurl'] }}" alt="" class="item-image"></a>
					</div>
					<div class="row">
						<ul>
							<li class="item-brand">{{ item['brand'] }}</li>
							<li class="item-name">{{ item['name'] }}</li>
						</ul>
					</div>
					<div class="row">
						<p class="item-price">$<span id="item-price">{{ item['price'] }}</span></p>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

	<button class="btn-add-black" data-toggle="modal" data-target="#modal-add-item"><span class="glyphicon glyphicon-plus"></span></button>
	
	<script src="{{url_for('static', filename='js/bagunis.js')}}"></script>
{% endblock %}