<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Baguni</title>

	<link rel="stylesheet" href="{{url_for('static', filename='css/reset.css')}}">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>
	<!-- NAVIGATION BAR -->
	<div class="container-fluid">
		<div class="row">
			<nav class="nav-all nav-upper navbar-fixed-top">
				<a class="align-left" href="#"><span class="icon icon-search"></span></a>
				<span class="icon icon-logo"></span>
				<a href="" class="align-right"><span class="icon icon-settings"></span></a>
			</nav>
		</div>
	</div>

	{% block content %}{% endblock %}

	<!-- NAVIGATION BAR -->
	<div class="container-fluid">
		<div class="row">
			<nav class="nav-all nav-lower navbar-fixed-bottom">
				<ul>
					<li class="nav-item"><a href="{{url_for('main_user.main_user_route', user=session['user'])}}"><span class="icon-md icon-folders"></span></a></li>
					<li class="nav-item"><a href="#"><span class="icon-md icon-blink"></span></a></li>
					<li class="nav-item"><a href="#"><span class="icon-lg icon-purchase"></span></a></li>
					<li class="nav-item"><a href="#"><span class="icon-md icon-explore"></span></a></li>
					<li class="nav-item"><a href="#"><span class="icon-md icon-more"></span></a></li>
					<span class="stretch"></span>
				</ul>
			</nav>
		</div>
	</div>
</body>
</html>