{% extends "base_navBar.html" %}
{% block content %}
	<ul class="baguni-inside">
		<li class="active"><a href="#">One</a></li><!-- 
		 --><li class="inactive"><a href="#">Two</a></li><!-- 
		 --><li class="inactive"><a href="#">Three</a></li><!-- 
		 --><li class="inactive"><a href="#">Four</a></li><!-- 
		 --><li class="inactive"><a href="#">Five</a></li>
	</ul>

	<div class="container-fluid">
		<div class="row">
			<nav class="nav-all nav-mid">
				<div class="price-bar align-left">$ <span></span></div>
				<a href="#"><span class="icon-md icon-refine"></span></a>
				<a href="#"><span class="icon-md icon-sort"></span></a>
			</nav>
		</div>
	</div>
	
	<!-- SECOND PAGE -->
	<div class="container">
		<ul class="items">
			<li class="col-xs-6 item" id="product_id">
				<input type="checkbox" name="item" class="item-checkbox">
				<ul class="item-detail">
					<li class="item-qty">Qty: <span></span></li>
					<li class="item-size">Size: <span></span></li>
				</ul>
				<div class="row">
					<a href="#"><img src="src/img/sample/sweater.png" alt="" class="item-image"></a>
				</div>
				<div class="row">
					<ul>
						<li class="item-brand">Google</li>
						<li class="item-name">Firebase</li>
					</ul>
				</div>
				<div class="row">
					<p class="item-price">$<span id="item-price"></span></p>
					<img src="src/img/icons/logo/logo_amazon.png" alt="" class="item-brand-logo">
				</div>

			</li>
		</ul>
	</div>

{% endblock %}